:root {
  --font: "Roboto Mono", monospace;
  --b-aqua: rgb(0, 255, 255);
  --b-t-aqua: rgb(0, 255, 255, 0.8);
  --aqua: rgb(50, 250, 250);
  --t-aqua: rgb(50, 250, 250, 0.8);
  --d-navy: rgb(28, 37, 65);
  --navy: rgb(48, 74, 98);
  --cyan: rgb(13, 115, 119);
  --gray: rgb(50, 50, 50);
  --d-gray: rgb(40, 40, 40);
}

@font-face {
  font-family: pixel;
  src: url("../../assets/pixel-font.otf") format("opentype");
}

/************************** General **************************/
body {
  font-family: var(--font);
  background-color: var(--d-navy);
  user-select: none;
  overflow: hidden !important;
}

.container-fluid {
  padding: 0;
}

.full-container {
  overflow: hidden;
}

.page {
  height: 100vh;
  width: 100%;
  position: absolute;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  overflow-x: hidden;
}

section {
  height: 100vh;
  scroll-snap-align: center;
  color: white;
}

/************************** Navbar **************************/
.navbar {
  background-color: var(--d-navy);
  height: 10vh;
  width: 100%;
  padding: 0rem 0;
  font-size: large;
  font-weight: 300;
  /* box-shadow: 0 0.2rem 1rem rgba(20, 20, 20, 0.4); */
}

.navbar-brand a {
  color: var(--t-aqua) !important;
  padding-left: 2.5vw;
  padding-right: 0.5vw;
  text-shadow: 0 0 0.5rem var(--b-t-aqua);
  transition: all 0.3s;
}

.navbar-brand a:hover {
  color: var(--aqua) !important;
  text-shadow: 0 0 1rem var(--b-aqua) !important;
}

.nav-item {
  padding: 0.3vw;
}

.nav-item a {
  color: var(--t-aqua) !important;
  font-size: medium;
  transition: all 0.3s;
}

.nav-item a:hover {
  color: var(--aqua) !important;
  text-shadow: 0 0 1rem var(--t-aqua);
}

.nav-link.active {
  color: var(--b-t-aqua) !important;
  text-shadow: 0 0 0.5rem var(--b-t-aqua);
  font-weight: 400;
  transition: all 0.3s;
}

.nav-link.active:hover {
  color: var(--b-aqua) !important;
  text-shadow: 0 0 1rem var(--b-aqua);
}

/************************** Page One **************************/
.one {
  background-color: var(--d-navy) !important;
}

.one .grid {
  display: grid;
  grid-template-columns: 1fr 40vw 40vw 1fr;
  grid-template-rows: 5vh 5vh 65vh 1fr;
  column-gap: 3vw;
}

.card-one {
  grid-area: 3 / 2 / span 1 / span 1;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.279);
  overflow: hidden;
  border: none;
}

.card-one:hover > .corner {
  background-color: var(--d-navy);
  display: inline-block;
  height: 20%;
  position: absolute;
  margin-left: 100%;
  transform: translateY(-50%) translateX(-50%);
  border-radius: 50%;
}

.one .card-1 {
  background-color: var(--navy);
  transition-delay: 600ms;
}

.one .card-2 {
  background-color: var(--gray);
  transition-delay: 750ms;
}

.one .card-3 {
  background-color: var(--d-gray);
  transition-delay: 900ms;
}

.front-card {
  z-index: 3;
  transition-timing-function: ease-out;
}

.middle-card {
  position: relative;
  top: 0.5rem;
  right: 0.7rem;
  z-index: 2;
  transition-timing-function: ease-in;
  pointer-events: none;
}

.back-card {
  position: relative;
  top: 1rem;
  right: 1.4rem;
  z-index: 1;
  transition-timing-function: ease-in;
  pointer-events: none;
}

.no-delay {
  transition-delay: 0ms !important;
}

.short-delay {
  transition-delay: 150ms !important;
}

.long-delay {
  transition-delay: 300ms !important;
}

.card-one img {
  margin: 1rem 1rem;
  margin-top: auto;
  border-radius: 5px;
  transition: all 0.5s;
}

.card .corner {
  background-color: var(--d-navy);
  display: inline-block;
  height: 20%;
  aspect-ratio: 1 / 1;
  position: absolute;
  margin-left: 100%;
  transform: translateY(-100%);
  border-radius: 50%;
  transition: all 0.5s;
}

.card .arrow {
  color: var(--aqua);
  display: block;
  position: absolute;
  top: 60%;
  left: 25%;
  /* font-size:  */
}

.one .title {
  text-align: right;
  grid-area: 3 / 3 / span 1 / span 1;
  margin: 5vh 0;
  margin-left: 5vh;
  color: var(--aqua);
}

.one h6 {
  transition-delay: 200ms !important;
}

.one h1 {
  font-size: 5rem;
}

.one .first-word {
  transition-delay: 150ms;
}

.one .second-word {
  transition-delay: 100ms;
}

.one hr {
  margin: 1.5rem 0;
  transition-delay: 500ms;
}

.one p {
  font-size: 0.8rem;
  transition-delay: 50ms;
}

/************************** Page Two **************************/
.two {
}

.two .grid {
  display: grid;
  grid-template-rows: fit-content(10rem) fit-content(30rem) 1fr;
  grid-template-columns: 5vw 1fr 1fr 1fr 5vw;
  column-gap: 2rem;
}

.two header {
  color: var(--aqua);
  margin-top: 4rem;
  grid-area: 1 / 2 / span 1 / span 3;
}

.two h1 {
  transition-delay: 200ms;
}

.two h6 {
  margin: 1rem 0;
  transition-delay: 400ms;
}

.two hr {
  margin-top: 3.5rem;
}

.col {
  position: relative;
  text-align: center;
}

.col1 {
  grid-area: 2 / 2 / span 1 / span 1;
}

.col2 {
  grid-area: 2 / 3 / span 1 / span 1;
}

.col3 {
  grid-area: 2 / 4 / span 1 / span 1;
}

.letter {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: min(50cqh, 50cqw);
  font-family: pixel;
  z-index: -1;
}

.col-content {
  height: 100%;
  width: 100%;
  background-color: var(--d-navy);
  opacity: 0;
}

.col-content > p {
  text-align: justify;
  color: var(--navy);
  font-weight: 600;
}

.videoplayer {
  width: 100%;
  border-radius: 5px;
}

.champ-descrip {
  background-color: var(--navy);
  font-size: 11px;
  border-radius: 10px;
}

.champ-descrip p {
  text-align: left;
  padding: 5px 5px;
  margin: 1rem 0;
}

b {
  color: var(--aqua);
}

.two img {
}

.videoplayer {
  /* width: 20rem; */
}

/************************** Page Three **************************/
.three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/************************** Page Four  **************************/
.four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/************************** Animations **************************/
.hidden-left-sm {
  opacity: 0;
  transform: translateX(-0.7rem);
  filter: blur(2px);
}

.hidden-right-sm {
  opacity: 0;
  transform: translateX(0.7rem);
  filter: blur(2px);
}

.hidden-left {
  opacity: 0;
  transform: translateX(-10%);
  filter: blur(2px);
}

.hidden-right {
  opacity: 0;
  transform: translateX(3rem);
  filter: blur(3px);
}

.hidden-top {
  opacity: 0;
  transform: translateY(-1rem);
  filter: blur(2px);
}

.show {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
  transition: all 0.5s;
}

.hide-card {
  opacity: 0;
  transform: translateX(0.7rem);
  filter: blur(2px);
}

.box-open {
  animation: box-open 1s forwards;
}

.box-close {
  animation: box-close 1s forwards;
}

@keyframes box-open {
  0% {
    opacity: 0;
    transform: scale(0%, 1%);
  }
  50% {
    opacity: 1;
    transform: scale(100%, 1%);
  }
  100% {
    opacity: 1;
    transform: scale(100%, 100%);
  }
}

@keyframes box-close {
  0% {
    opacity: 1;
    transform: scale(100%, 100%);
  }
  50% {
    opacity: 1;
    transform: scale(100%, 1%);
  }
  100% {
    opacity: 0;
    transform: scale(0%, 1%);
  }
}
